@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Phudu:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@160..700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: hsl(0, 0%, 13%);
    --title-font: "BBH Bogle", sans-serif;
}

body{
    padding: 50px;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
   
    box-shadow: 0 4px 10px rgb(187, 187, 187);

}

.FormGroup{
    margin-bottom: 30px;
}